:root {
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

.modal-backdrop {
    z-index: 0 !important;
}

.ml-2 {
    margin-left: .5rem!important
}

#alertContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    padding: 0;
    margin: 0;
}

#alertContainer * {
    margin: 2px;
}

.gi-2x {
    font-size: 2em;
}

.gi-3x {
    font-size: 3em;
}

.gi-4x {
    font-size: 4em;
}

.gi-5x {
    font-size: 5em;
}

.page-link {
    color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.page-link:hover {
    border-color: var(--bs-dark);
}

.active > .page-link {
    background-color: var(--bs-secondary);
    border-color: var(--bs-dark);
}

.ui-widget-content {
    z-index: 9999!important;
}

.cursor-pointer {
    cursor: pointer!important;
}